* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    width: 60vmin;
    height: 80vmin;
    background-color: red;
    display: grid;
    grid-template-rows: 30% 70%;
}

.search-zone {
    display: flex;
    align-items: center;
    justify-content: center;
}

